*{
    box-sizing: border-box;
    max-width: 100%;
}
.carouselImagenes {
    height: 200px;
    object-fit: cover;
}
.imagen-Card {
    height: 250px;
}

/* media queri */

@media screen and (min-width:500px)
{
    .contenedorDeCards{
        padding: 5% 5% 5% 5%;
    }
    .carouselImagenes{
        height: 600px;
        object-fit: cover;
    }
}